<!DOCTYPE html>
<html>
<head>
    <title>CSS Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Pompiere" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body class="f-column">

    <header class="header" role="banner">
        <h1 class="page-title">CSS Tools</h1>
    </header>

    <main id="app" class="content f-row">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <tab tab-name="box-shadow" icon-class="fa fa-adjust" :active-tab="activeTab" v-on:changetab="activeTab = 'box-shadow'"></tab>
                <tab tab-name="border-radius" icon-class="fa fa-square-o" :active-tab="activeTab" v-on:changetab="activeTab = 'border-radius'"></tab>
                <tab tab-name="triangle" icon-class="fa fa-toggle-up" :active-tab="activeTab" v-on:changetab="activeTab = 'triangle'"></tab>
            </ul>
        </nav>

        <component :is="activeTab" :parent="sharedData" v-on:update-property="updateProperty"></component>
    </main>

    <script type="text/x-template" id="box-shadow">
        <section class="container">
            <aside class="editor">
                <div class="input-group">
                    <label class="label-full-width">Horizontal Length</label>
                    <input class="slider" type="range" v-model="horizontalLength" min="-100" max="100" />
                </div>

                <div class="input-group">                
                    <label class="label-full-width">Vertical Length</label>
                    <input class="slider" type="range" v-model="verticalLength" min="-100" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Blur Radius</label>
                    <input class="slider" type="range" v-model="blurRadius" min="0" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Spread Radius</label>
                    <input class="slider" type="range" v-model="spreadRadius" min="-100" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Shadow Color</label>
                    <input type="color" v-model="shadowColor" />
                </div>

                <div class="input-group breakout templates">
                    <label class="label-full-width">Target Layout</label>
                    
                    <div class="template-box f-row f-between f-wrap w-100">
                        <div class="template-item w-30" :class="[layout === 'small' ? 'active': '']" @click="layout = 'small'">Card (Sm)</div>
                        <div class="template-item w-30" :class="[layout === 'large' ? 'active': '']" @click="layout = 'large'">Card (Lg)</div>
                        <div class="template-item w-30" :class="[layout === 'multiple' ? 'active': '']" @click="layout = 'multiple'">Multiple</div>
                        <div class="template-item w-30" :class="[layout === 'image-list' ? 'active': '']" @click="layout = 'image-list'">Image List</div>
                        <div class="template-item w-30" :class="[layout === 'image-grid' ? 'active': '']" @click="layout = 'image-grid'">Image Grid</div>
                    </div>
                </div>

                <div class="input-group templates">
                    <label class="label-full-width">Quick Templates</label>

                    <div class="template-box f-row f-between f-wrap w-100">
                        <div class="template-item w-30" @click="updateShadow('simple')">Simple</div>
                        <div class="template-item w-30" @click="updateShadow('soft')">Soft</div>
                        <div class="template-item w-30" @click="updateShadow('outline')">Outline</div>
                        <div class="template-item w-30" @click="updateShadow('floating')">Floating</div>
                    </div>
                </div>
            </aside>

            <box-shadow-result :boxShadow="boxShadow" :boxColor="boxColor" :boxShadowBuilder="boxShadowBuilder" :layout="layout" :parent="parent"></box-shadow-result>
        </section>
    </script>

    <script type="text/x-template" id="box-shadow-result">
        <div class="result">
            <div class="multiple-cards full" v-show="layout === 'multiple'">
                <div class="card full-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header mountain">
                        <div class="card-title">A Winter's Tale</div>
                    </div>
                    
                    <div class="card-content">
                        <pre class="language-css">{{ boxShadowBuilder }}</pre>
                    </div>
                </div>

                <div class="card half-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header desert">
                        <div class="card-title">Desert Adventure</div>
                    </div>
                    
                    <div class="card-content">
                        Sometimes you just need to get away and explore.
                    </div>
                </div>

                <div class="card half-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header explorer">
                        <div class="card-title">Afraid the Edge</div>
                    </div>
                    
                    <div class="card-content">
                        At the end of the road, there is no where else to go.
                    </div>
                </div>
            </div>

            <div class="single-card full" v-show="layout === 'small'">
                <div class="card half-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header mountain">
                        <div class="card-title">A Winter's Tale</div>
                    </div>
                    
                    <div class="card-content">
                        <pre class="language-css">{{ boxShadowBuilder }}</pre>
                    </div>
                </div>
            </div>

            <div class="single-card full" v-show="layout === 'large'">
                <div class="card full-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header mountain">
                        <div class="card-title">A Winter's Tale</div>
                    </div>
                    
                    <div class="card-content">
                        <pre class="language-css">{{ boxShadowBuilder }}</pre>
                    </div>
                </div>
            </div>

            <div class="image full" v-show="layout === 'image-list'">
                <div class="card full-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header jewels">
                        <div class="card-title">Jewels</div>
                    </div>
                </div>

                <div class="card full-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header road">
                        <div class="card-title">On the road again</div>
                    </div>
                </div>

                <div class="card full-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header explorer">
                        <div class="card-title">Afraid the Edge</div>
                    </div>
                </div>
            </div>

            <div class="image full multiple-cards" v-show="layout === 'image-grid'">
                <div class="card half-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header jewels">
                        <div class="card-title">Jewels</div>
                    </div>
                </div>

                <div class="card half-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header road">
                        <div class="card-title">On the road again</div>
                    </div>
                </div>

                <div class="card half-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header explorer">
                        <div class="card-title">Afraid the Edge</div>
                    </div>
                </div>

                <div class="card half-width" :style="{ 'box-shadow': boxShadow, 'border-radius': parent.radius }">
                    <div class="card-header mountain">
                        <div class="card-title">Up at the top</div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="border-radius">
        <section class="container">
            <aside class="editor">
                <div class="input-group breakout">
                    <label class="label-full-width">Radius All Corners</label>
                    <input class="slider" type="range" v-model="radiusAll" min="0" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Radius Top Left</label>
                    <input class="slider" type="range" v-model="radiusTopLeft" min="0" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Radius Top Right</label>
                    <input class="slider" type="range" v-model="radiusTopRight" min="0" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Radius Bottom Right</label>
                    <input class="slider" type="range" v-model="radiusBottomRight" min="0" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Radius Bottom Left</label>
                    <input class="slider" type="range" v-model="radiusBottomLeft" min="0" max="100" />
                </div>

                <div class="input-group separate">
                    <label class="label-full-width">Border Width</label>
                    <input class="slider" type="range" v-model="borderWidth" min="0" max="20" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Border Color</label>
                    <input class="slider" type="color" v-model="borderColor" />
                </div>
            </aside>

            <border-radius-result :borderRadius="borderRadius" :boxColor="boxColor" :borderColor="borderColor" :borderRadiusBuilder="borderRadiusBuilder" :borderWidth="borderWidthFormatted" :parent="parent"></border-radius-result>
        </section>
    </script>

    <script type="text/x-template" id="border-radius-result">
        <div class="result">
            <div class="single-card full">
                <div class="card border-radius full-width" :style="{ 'border-radius': borderRadius, 'background-color': boxColor, 'border-color': borderColor, 'border-width': borderWidth, 'box-shadow': parent.shadow }">
                    <div class="card-header mountain">
                        <div class="card-title">A Winter's Tale</div>
                        <div class="card-meta">{{ borderWidth }}</div>
                    </div>
                    
                    <div class="card-content">
                        <pre class="language-css">{{ borderRadiusBuilder }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="triangle">
        <section class="container">
            <aside class="editor">
                <div class="input-group">
                    <label class="label-full-width">Triangle Height</label>
                    <input class="slider" type="range" v-model="triangleHeight" min="0" max="200" />
                </div>

                <div class="input-group">                
                    <label class="label-full-width">Triangle Left Side</label>
                    <input class="slider" type="range" v-model="triangleLeft" min="0" max="200" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Triangle Right Side</label>
                    <input class="slider" type="range" v-model="triangleRight" min="0" max="200" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Triangle Color</label>
                    <input type="color" v-model="triangleColor" />
                </div>

                <div class="input-group breakout templates">
                    <label class="label-full-width">Triangle Direction</label>
                    
                    <div class="template-box f-row f-between f-wrap w-100">
                        <div class="template-item w-20" :class="[triangleDirection === 'top' ? 'active': '']" @click="triangleDirection = 'top'"><span class="fa fa-caret-up"></span></div>
                        <div class="template-item w-20" :class="[triangleDirection === 'bottom' ? 'active': '']" @click="triangleDirection = 'bottom'"><span class="fa fa-caret-down"></span></div>
                        <div class="template-item w-20" :class="[triangleDirection === 'left' ? 'active': '']" @click="triangleDirection = 'left'"><span class="fa fa-caret-left"></span></div>
                        <div class="template-item w-20" :class="[triangleDirection === 'right' ? 'active': '']" @click="triangleDirection = 'right'"><span class="fa fa-caret-right"></span></div>
                    </div>
                </div>
            </aside>

            <triangle-result 
                :triangleDirection="triangleDirection" 
                :triangleHeight="triangleHeight" 
                :triangleLeft="triangleLeft" 
                :triangleRight="triangleRight"
                :triangleColor="triangleColor"
                :triangleBuilder="triangleBuilder"
                :triangleStyle="triangleStyle"
                :triangleCss="triangleCss"></triangle-result>
        </section>
    </script>

    <script type="text/x-template" id="triangle-result">
        <div class="result no-padding f-column">
            <pre class="language-css">{{ triangleCss }}</pre>
            <div class="f-row f-center f-grow">
                <div class="f-self-center" :style="triangleBuilder"></div>
            </div>
        </div>
    </script>
    
    <script type="text/x-template" id="tab">
        <li class="sidebar-item" @click="changeTab">
            <span class="sidebar-icon" :class="[{ active: amActive }, iconClass]"></span>
        </li>
    </script>    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="scripts/app.min.js"></script>

</body>
</html>