<!DOCTYPE html>
<html>
<head>
    <title>CSS Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body class="flex-column">

    <header class="header" role="banner">
        <h1 class="page-title">CSS</h1>
    </header>

    <main id="app" class="content flex-row">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-item" @click="activeTab = 'box-shadow'" :class="{ active: activeTab === 'boxShadow' }"><span class="sidebar-icon icon-layers"></span></li>
                <li class="sidebar-item" @click="activeTab = 'border-radius'" :class="{ active: activeTab === 'borderRadius' }"><span class="sidebar-icon icon-vector"></span></li>
            </ul>
        </nav>

        <component v-bind:is="activeTab"></component>
    </main>


    <script type="text/x-template" id="box-shadow">
        <section class="container">
            <aside class="editor">
                <div class="input-group">
                    <label class="label-full-width">Horizontal Length</label>
                    <input class="slider" type="range" v-model="horizontalLength" min="-100" max="100" />
                </div>

                <div class="input-group">                
                    <label class="label-full-width">Vertical Length</label>
                    <input class="slider" type="range" v-model="verticalLength" min="-100" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Blur Radius</label>
                    <input class="slider" type="range" v-model="blurRadius" min="0" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Spread Radius</label>
                    <input class="slider" type="range" v-model="spreadRadius" min="-100" max="100" />
                </div>

                <div class="input-group">
                    <label class="label-full-width">Shadow Color</label>
                    <input type="color" v-model="shadowColor" />
                </div>
            </aside>

            <div class="result">
                <box-shadow-result :boxShadow="boxShadow" :boxColor="boxColor" :boxShadowBuilder="boxShadowBuilder"></box-shadow-result>
            </div>
        </section>
    </script>

    <script type="text/x-template" id="box-shadow-result">
        <div class="box-shadow" v-bind:style="{ 'box-shadow': boxShadow, 'background-color': boxColor }">
            <pre class="language-css">{{ boxShadowBuilder }}</pre>
        </div>
    </script>

    

    <script type="text/x-template" id="border-radius">
        <div class="border-radius" v-bind:style="{ 'border-radius': borderRadius, 'background-color': boxColor, 'border-color': borderColor }">

            <pre class="language-css">{{ borderRadiusBuilder }}</pre>
            
            <label>Radius All Corners</label>
            <input type="range" v-model="radiusAll" min="0" max="100" />

            <label>Radius Top Left</label>
            <input type="range" v-model="radiusTopLeft" min="0" max="100" />

            <label>Radius Top Right</label>
            <input type="range" v-model="radiusTopRight" min="0" max="100" />

            <label>Radius Bottom Right</label>
            <input type="range" v-model="radiusBottomRight" min="0" max="100" />

            <label>Radius Bottom Left</label>
            <input type="range" v-model="radiusBottomLeft" min="0" max="100" />

            <label>Border Color</label>
            <input type="color" v-model="borderColor" />
        </div>
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="scripts/app.min.js"></script>

</body>
</html>