        <div id="border_radius" class="border-radius col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" data-bind="style: { 'border-radius': borderRadiusBuilder(), 'background-color': boxColor }">
            <p data-bind="text: '-moz-border-radius: ' + borderRadiusBuilder()"></p>
            <p data-bind="text: '-webkit-border-radius: ' + borderRadiusBuilder()"></p>
            <p data-bind="text: 'border-radius: ' + borderRadiusBuilder()"></p>

            <label>Radius All Corners</label>
            <input type="range" class="ui-slider ui-slider-horizontal" data-bind="textInput: radiusAll" min="0" max="100" />

            <label>Radius Top Left</label>
            <input type="range" class="ui-slider ui-slider-horizontal" data-bind="textInput: radiusTopLeft" min="0" max="100" />

            <label>Radius Top Right</label>
            <input type="range" class="ui-slider ui-slider-horizontal" data-bind="textInput: radiusTopRight" min="0" max="100" />

            <label>Radius Bottom Right</label>
            <input type="range" class="ui-slider ui-slider-horizontal" data-bind="textInput: radiusBottomRight" min="0" max="100" />

            <label>Radius Bottom Left</label>
            <input type="range" class="ui-slider ui-slider-horizontal" data-bind="textInput: radiusBottomLeft" min="0" max="100" />

            <label>Border Color</label>
            <input type="color" class="ui-slider ui-slider-horizontal" data-bind="value: borderColor" />

            <label>Background Color</label>
            <input type="color" class="ui-slider ui-slider-horizontal" data-bind="value: boxColor" />

        </div>