/* http://prismjs.com/download.html?themes=prism&languages=css */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.45px 0; }

input[type=range].slider:focus {
  outline: none; }

input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 26.1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #120101; }

input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.45px; }

input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #545a5a; }

input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 26.1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #120101; }

input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer; }

input[type=range].slider::-ms-track {
  width: 100%;
  height: 26.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range].slider::-ms-fill-lower {
  background: #3c4040;
  border: 0px solid #120101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range].slider::-ms-fill-upper {
  background: #484d4d;
  border: 0px solid #120101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  height: 26.1px; }

input[type=range].slider:focus::-ms-fill-lower {
  background: #484d4d; }

input[type=range].slider:focus::-ms-fill-upper {
  background: #545a5a; }

html,
body {
  margin: 0; }

html {
  height: 100%; }

body {
  min-height: 100%; }

* {
  box-sizing: border-box; }

html,
body {
  font-family: Helvetica, sans-serif; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.header {
  background-color: #8e44ad;
  color: white; }
  .header .page-title {
    background: rgba(1, 1, 1, 0.3);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 15px;
    min-width: 250px;
    text-align: center;
    width: 30%; }

.content {
  flex-grow: 2; }

.sidebar {
  background: #1a1a1a; }
  .sidebar .sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .sidebar .sidebar-item {
    border-bottom: 1px solid #737373;
    color: white;
    cursor: pointer; }
    .sidebar .sidebar-item:hover .sidebar-icon {
      color: #8e44ad; }
    .sidebar .sidebar-item.active .sidebar-icon {
      border-left-color: #8e44ad; }
  .sidebar .sidebar-icon {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    display: inline-block;
    padding: 20px; }

.container {
  display: flex;
  flex-grow: 1; }

.editor {
  background-color: #404040;
  color: white;
  flex-grow: 0;
  padding: 15px;
  width: 300px; }
  .editor .input-group {
    margin-bottom: 20px; }
  .editor .label-full-width {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block; }

.result {
  flex-grow: 2;
  padding: 50px; }
