// ==================================================
// IMPORTS
// ==================================================
@import '_prism.scss';


// ==================================================
// GLOBAL STYLES
// ==================================================
body {
    background: #e5e5e5;
}
.content {
    .box-content {
    	color: #333333;
    	margin: 50px 0;

    	p {
            margin: 10px 0;
    		text-align: center;
    	}
    }

    .box-shadow {
    	padding: 30px;
    }

    .border-radius {
        border: 1px solid #333333;
    	padding: 30px;
    }
}


// UTILITY STYLES
// ==================================================
.clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

.input-invisible {
	background: transparent;
	border: none;
	float: right;
	text-align: right;

	&:focus {
		outline: none;
	}
}

.align-left {
    left: 0 !important;
}


// MAIN STYLES
// ==================================================
.btn-group {
    text-align: center;
}

.content .language-css {
    border: 1px solid #e5e5e5;
    margin: 30px 0;
}